<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create new contract detail</title>
    <th:block th:replace="~{display::headTemplate}"></th:block>
</head>
<body>
<th:block th:replace="~{display::headContent}"></th:block>
<th:block th:replace="~{display::homeContent}"></th:block>
<div class="row" id="bodyfurama">
    <th:block th:replace="~{display::itemBody}"></th:block>
    <div class="col-lg-11">
        <div class="row">
            <div class="col-lg-12">
                <h1>Create new contract detail</h1>
                <!--<p>-->
                <!--    <c:if test='${message!= null}'>-->
                <!--        <span class="message">${message}</span>-->
                <!--    </c:if>-->
                <!--</p>-->
                <p>
                    <a th:href="@{/contractDetails}">Back to contract detail list</a>
                </p>
                <form th:action="@{/contractDetails/create}" method="post" th:object="${contractDetail}">
                    <fieldset>
                        <legend>Contract detail information</legend>
                        <table>
                            <tr>
                                <td><label for="contractId">Contract id: </label></td>
                                <td>
                                    <select th:field="*{contract}" id="contractId">
                                        <option th:each="contract : ${contractList}" th:value="${contract.contractId}"
                                                th:text="${contract.contractId}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="attachServiceId">Attach service name: </label></td>
                                <td>
                                    <select th:field="*{attachService}" id="attachServiceId">
                                        <option th:each="attachService : ${attachList}"
                                                th:value="${attachService.attachServiceId}"
                                                th:text="${attachService.attachServiceName}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label for="quantity">Quantity: </label></td>
                                <td><input type="text" th:field="*{quantity}" id="quantity">
                                    <p style="color: red" th:if="${#fields.hasErrors('quantity')}"
                                       th:errors="*{quantity}"></p>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Create"></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
