<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<th:block th:replace="~{menu_welcome::headerStudent}"></th:block>
<fieldset>
    <legend>Customer</legend>
    <form action="/blog/edit" method="post" th:object="${blog}">
        <input type="hidden" th:field="*{idBlog}">
        <table>
            <tr>
                <td>Theme</td>
                <td><input type="text" th:field="*{theme}"></td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select th:field="*{category}">
                        <option th:each="category : ${listCategory}" th:value="${category.idCategory}" th:text="${category.nameCategory}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Content</td>
                <td><textarea type="text" th:field="*{content}" th:rows="100" th:cols="100"></textarea></td>
            </tr>
            <tr>
                <td><button type="button"><a th:href="@{/blog/back}">Back</a></button></td>
                <td><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</fieldset>
</body>
</html>