<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<fieldset>
    <legend>Customer</legend>
    <form action="/edit" method="post" th:object="${customer}">
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td>First name</td>
                <td><input type="text" th:field="*{firstName}"></td>
            </tr>
            <tr>
                <td>last name</td>
                <td><input type="text" th:field="*{lastName}"></td>
            </tr>
            <tr>
                <td><button type="button"><a th:href="@{/back}">Back</a></button></td>
                <td><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</fieldset>
</body>
</html>