<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table,th,tr,td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        a {
            text-decoration:none;
        }
    </style>
</head>
<body>
<h1>List Customer</h1>
<h2><a th:href="@{/create}">Create New Customer</a></h2>
<table>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr th:each="customer : ${listCustomer}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td><a th:href="@{/edit(id=${customer.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${customer.id})}">Delete</a></td>
        <td><a th:href="@{/update(id=${customer.id})}">Update</a></td>
    </tr>
</table>
</body>
</html>