<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Customer</title>
</head>
<body>
<fieldset>
    <legend>Blog</legend>
    <form action="/create" method="post" th:object="${blog}">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><textarea th:field="*{content}" th:rows="10" th:cols="50"></textarea></td>
        </tr>
        <tr>
            <td><button type="button"><a th:href="@{/back}">Back</a></button></td>
            <td><button>Save</button></td>
        </tr>
    </table>
    </form>
</fieldset>
</body>
</html>