
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"]{
    float: left;
}
.row::after{
    clear: both;
}
*{
    box-sizing: border-box;
}
.header {
    height: 50px;
    background-color: black;
    color: white;
}
div.text-1 p{
    display: inline;
}
div.text-1{
    width: 300px;
    text-align: left;
    padding-left: 16px;
    padding-top: 16px;
}
div.text-2{
    width: 300px;
    text-align: right;
    padding-right: 16px;
}
div.two p{
    border: 1px solid #ebebeb;
    background-color: #f5f5f5;
    width: 50%;
    margin: 20px auto;
    padding-top: 20px;
    height: 100px;
}
div.row div.col-3{
    background-color: #d3d3d3;
}
div.selector div{
    height: 400px;
}
div.footer{
    background-color: black;
    color: white;
    text-align: center;
}
@media only screen and (max-width: 768px){
    [class*="col-"]{
        width: 100%;
    }
}